%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %link{:rel => 'stylesheet', :href => '/stylesheets/reset.css', :type => 'text/css', :media => 'screen, projection'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/text.css', :type => 'text/css', :media => 'screen, projection'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/960.css', :type => 'text/css', :media => 'screen, projection'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/application.css', :type => 'text/css', :media => 'screen, projection'}
    %title sample
  %body
    .container_16
      #header.grid_16
        %h1
          This is my header
      .clear
      #content.grid_12
        = yield
      #sidebar.grid_4
        %p 
          SideBar
      .clear  
      #footer.grid_16
        %p 
          This is my footer
          
    %script{:src => '/javascript/jquery.min.js', :type=>"text/javascript"}
      
    